<!-- Le Café of Plexville website. Developed by LenCo.-->
<!DOCTYPE html>
<html>
<head>
<!-- Main Meta Tags -->
<title>Le Café of Plexville</title>
<meta name="title" content="Le Café of Plexville" />
<meta name="description" content="The new HIT café selling like HOTCAKES!" />

<!-- BookFace -->
<meta property="og:type" content="website" />
<meta property="og:url" content="https://plexville.cafe" />
<meta property="og:title" content="Le Café of Plexville" />
<meta property="og:description" content="The new HIT café selling like HOTCAKES!" />
<meta property="og:image" content="../resources/plexville.cafe.png" />

<!-- Y -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://plexville.cafe" />
<meta property="twitter:title" content="Le Café of Plexville" />
<meta property="twitter:description" content="The new HIT café selling like HOTCAKES!" />
<meta property="twitter:image" content="../resources/plexville.cafe.png" />

<link rel="stylesheet" href="style.css">
</head>
<body>
<img class="center2" src="../resources/plexville.cafe.png" height="500" width="500">
<h1 class="center" id="welcome">The new HIT café selling like HOTCAKES!</h1>

<h2 class="center" id="com-label">Watch the popular commercial!</h2>
<iframe class="center2" width="560" height="315" src="https://www.youtube.com/embed/uPphoBm8pQs?si=cm4vwqItMhbA3rVP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<br>
<br>

<div class="card2">
  <h1 style="font-family: 'Neue-Machina';" class="center">Ben Zikey Molie says:</h1>
  <h3 style="font-family: 'Neue-Machina';" class="center">"Marvelous coffee, marvelous service, you have to try it yourself!"</h3>
  <span style="color: rgb(0, 26, 255);" class="star2">★
  </span>
  <span style="color: rgb(0, 26, 255);" class="star2">★
  </span>
  <span style="color: rgb(0, 26, 255);" class="star2">★
  </span>
  <span style="color: rgb(0, 26, 255);" class="star2">★
  </span>
  <span style="color: rgb(0, 26, 255);" class="star2">★
  </span>
</div>

<br>
<br>

<div class="card3">
  <h1 class="center">Danny Jane says:</h1>
  <h3 class="center">"I love this café's amazing cold brew but I swear to god one of waitresses is so disrespectful and rude and whoever's runnin' this place doesn't seem to be doing anything about it. I hope this gets addressed."</h3>
  <span style="color: rgb(242, 255, 0);" class="star2">★
  </span>
  <span style="color: rgb(242, 255, 0);" class="star2">★
  </span>
  <span style="color: rgb(242, 255, 0);" class="star2">★
  </span>
  <span class="star2">★
  </span>
  <span class="star2">★
  </span>
</div>

<br>
<br>

<div class="card4">
  <h1 class="center">Astro Aubert says:</h1>
  <h3 class="center">"Hi, I come here everyday in the middle of my work break, coffee's nice, and I really like one of the waiters, she's really sweet."</h3>
  <span style="color: rgb(140, 255, 0);" class="star2">★
  </span>
  <span style="color: rgb(140, 255, 0);" class="star2">★
  </span>
  <span style="color: rgb(140, 255, 0);" class="star2">★
  </span>
  <span style="color: rgb(140, 255, 0);" class="star2">★
  </span>
  <span class="star2">★
  </span>
</div>

<br>
<br>

<div class="card5">
  <h1 class="center">Kank Lax says:</h1>
  <h3 class="center">"Coffee nice. Awful service (in my personal experience). Shady business. Not ever giving a penny to this place ever again."</h3>
  <span style="color: rgb(255, 106, 0);" class="star2">★
  </span>
  <span style="color: rgb(255, 106, 0);" class="star2">★
  </span>
  <span class="star2">★
  </span>
  <span class="star2">★
  </span>
  <span class="star2">★
  </span>
</div>

<br>
<br>

<div class="card">
  <h1 style="font-family: 'Neue-Machina';" class="center">Rate us!</h1>
  <span onclick="ratey(1)"
        class="star">★
  </span>
  <span onclick="ratey(2)"
        class="star">★
  </span>
  <span onclick="ratey(3)"
        class="star">★
  </span>
  <span onclick="ratey(4)"
        class="star">★
  </span>
  <span onclick="ratey(5)"
        class="star">★
  </span>
  <h1 class="review" id="output">
    ?????
    0/5
    </h1>
</div>
<script src="review.js"></script>

<br>
<br>
<footer>
<h3 class="center mach">(C) 2024 LenCo. All rights reserved.</h3>
</footer>
</body>
</html>
